#about .onepager-item {
    background: rgba(255,255,255,1.0);
}

#about {
	z-index: 1000;
}

#about:before {
	visibility: visible;
}

#about h1 {
	margin: 16px 0 8px 0;
	padding: 0;
}

#about a{
	font-size: 16pt;
}


#about .block {
	border-top: 1px solid #dddddd;
	padding: 4px 4px 32px 4px;
}

#about .block h4, #about p {
	margin: 8px 4px 4px 4px;
	padding: 8px 0 0 0;
	text-transform: uppercase;
}

#about .block p span {
	text-transform: none;
}

#about .block .desc {
	font-size: 9pt;
	font-style: italic;
	padding: 0 0 0 16px;
}

#about .window {
	font-size: 9pt;
	text-transform: uppercase;
}

#about .skills {
	text-decoration: none;
}

#about .skills p {
	margin-bottom: 8px;
}

#about .skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#about .skills-group {
	float: left;
	margin: 0 32px 0 0;
}

#about .skills-group span {
	font-size: 9pt;
	font-style: italic;
	margin: 0 4px 4px;
	padding: 0;
}

#about .block p b {
	text-transform: none;
}

#about .mono {
	font-family: monospace;
	text-transform: none;
}

#cv-toggle {
	padding: 0;
	margin: 0;
}

@media (max-width : 767px) {
	#about .skills-head {
		float: none;
	}

	#about p,
	#about .skills-group span,
	#about .block .desc {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
