#about, #cv {
	z-index: 1000;
}

#cv:before {
    height:0px;
}

#about .onepager-item, #about:before {
    background: rgba(255,255,255,0.9);
    visibility: visible;
}

#cv .onepager-item {
    background: rgba(255,255,255,1.0);
}

#about h1 {
	margin: 32px 0 16px 0;
	padding: 0;
}

#about a {
	font-size: 1.2em;
}

#about .block, #cv .block {
	border-top: 1px solid #dddddd;
	padding: 4px 4px 32px 4px;
}

#about .block h4, #about p, #cv .block h4, #cv p {
	margin: 8px 4px 4px 4px;
	padding: 8px 0 0 0;
	text-transform: uppercase;
}

#cv .block p span {
	text-transform: none;
}

#cv .block .desc {
	font-size: 9pt;
	font-style: italic;
	padding: 0 0 0 16px;
}

#cv .window {
	font-size: 9pt;
	text-transform: uppercase;
}

#cv .skills {
	text-decoration: none;
}

#cv .skills p {
	margin-bottom: 8px;
}

#cv .skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#cv .skills-group span {
	font-size: 0.75em;
	font-style: italic;
	padding: 0 0 0 4px;
}

#cv-toggle {
	padding: 0;
	margin: 0;
}

@media (max-width : 767px) {
	#about p,
	#about .skills-group span,
	#about .block .desc {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
